<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>LOREM IPSUM DOLOR SIT AMET neverdem no</string>
		<key>price</key>
		<real>9</real>
	</dict>
	<dict>
		<key>title</key>
		<string>CONSECTETUR ADIPISCING ELIT momonimado con nenecomoder</string>
		<key>price</key>
		<real>9.9</real>
	</dict>
	<dict>
		<key>title</key>
		<string>PELLENTESQUE SOLLICITUDIN EX METUS</string>
		<key>price</key>
		<real>99</real>
	</dict>
	<dict>
		<key>title</key>
		<string>A CONSECTETUR ELIT CONSECTETUR A</string>
		<key>price</key>
		<real>99</real>
	</dict>
	<dict>
		<key>title</key>
		<string>FUSCE FACILISIS</string>
		<key>price</key>
		<real>99</real>
	</dict>
	<dict>
		<key>title</key>
		<string>EX UT CONSECTETUR FAUCIBUS</string>
		<key>price</key>
		<real>99</real>
	</dict>
	<dict>
		<key>title</key>
		<string>ANTE SAPIEN FERMENTUM LEO</string>
		<key>price</key>
		<real>99</real>
	</dict>
	<dict>
		<key>title</key>
		<string>AT FEUGIAT JUSTO SEM VEL NISL</string>
		<key>price</key>
		<real>99</real>
	</dict>
	<dict>
		<key>title</key>
		<string>DUIS EU MATTIS NEQUE</string>
		<key>price</key>
		<real>99</real>
	</dict>
	<dict>
		<key>title</key>
		<string>MAURIS EFFICITUR EROS VITAE URNA EGESTAS</string>
		<key>price</key>
		<real>99</real>
	</dict>
	<dict>
		<key>title</key>
		<string>VITAE CONVALLIS ERAT MOLLIS</string>
		<key>price</key>
		<real>99</real>
	</dict>
	<dict>
		<key>title</key>
		<string>NUNC DAPIBUS NISI NEC DOLOR PRETIUM ULLAMCORPER</string>
		<key>price</key>
		<real>99</real>
	</dict>
	<dict>
		<key>title</key>
		<string>real VEL TELLUS ID ENIM DIGNISSIM MALESUADA</string>
		<key>price</key>
		<real>99</real>
	</dict>
	<dict>
		<key>title</key>
		<string>VIVAMUS SEMPER UT TORTOR SIT AMET VULPUTATE</string>
		<key>price</key>
		<real>99</real>
	</dict>
	<dict>
		<key>title</key>
		<string>VIVAMUS MOLESTIE A METUS SED FRINGILLA menomemo medano memeneno</string>
		<key>price</key>
		<real>99</real>
	</dict>
	<dict>
		<key>title</key>
		<string>LOREM IPSUM DOLOR SIT AMET neverdem no</string>
		<key>price</key>
		<real>99</real>
	</dict>
	<dict>
		<key>title</key>
		<string>CONSECTETUR ADIPISCING ELIT momonimado con nenecomoder</string>
		<key>price</key>
		<real>99</real>
	</dict>
	<dict>
		<key>title</key>
		<string>PELLENTESQUE SOLLICITUDIN EX METUS</string>
		<key>price</key>
		<real>99</real>
	</dict>
	<dict>
		<key>title</key>
		<string>A CONSECTETUR ELIT CONSECTETUR A</string>
		<key>price</key>
		<real>99</real>
	</dict>
	<dict>
		<key>title</key>
		<string>FUSCE FACILISIS</string>
		<key>price</key>
		<real>99</real>
	</dict>
	<dict>
		<key>title</key>
		<string>EX UT CONSECTETUR FAUCIBUS</string>
		<key>price</key>
		<real>99</real>
	</dict>
	<dict>
		<key>title</key>
		<string>ANTE SAPIEN FERMENTUM LEO</string>
		<key>price</key>
		<real>99</real>
	</dict>
	<dict>
		<key>title</key>
		<string>AT FEUGIAT JUSTO SEM VEL NISL</string>
		<key>price</key>
		<real>99</real>
	</dict>
	<dict>
		<key>title</key>
		<string>DUIS EU MATTIS NEQUE</string>
		<key>price</key>
		<real>99</real>
	</dict>
</array>
</plist>
